**/*.opus
**/*.opus_packets
audio/*.h
audio/*/*.h
audio/*/*/*.h
audio/*/*/*/*.h
main/audio.h
main/audio_identifiers.cmake
**/*.kdev4
CMakeCache.txt
build/
Makefile
CMakeFiles/
app-flash_args
bootloader-flash_args
bootloader-prefix/
bootloader/
cmake_install.cmake
compile_commands.json
config.env
config/sdkconfig.cmake
config/sdkconfig.h
flash_app_args
flash_args
flash_args.in
flash_bootloader_args
flash_project_args
flasher_args.json
kconfigs.in
kconfigs_projbuild.in
ldgen_libraries
ldgen_libraries.in
partition-table-flash_args
partition_table/
prefix_map_gdbinit
project_description.json
esp-idf/*
main.bin
main.elf
main.map
project_elf_src_esp32.c
x509_crt_bundle.S
.bin_timestamp
.kdev_include_paths
token
